{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Playfair+Display:ital@1&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">


{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ author }}</title>
        {% else %}
        <title> Welcome to Learn Along </title>
        {% endif %}
    </head>
        <div  class="container-fluid">
            <body class="body" style="background-image:url(../static/photos/blog2.jpg)" height="100vh">
                <h2 class="learn" id="posts" >Let's Learn Together</h2>
            <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
                <li class="nav-item" >
                    <a id ="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All articles</strong> </a>
                </li>
            </ul>


               <!-- Random quote section  -->
           
             <ul>
               {{ macro.displayBlogList(blogs)}}
             </ul>

            </body>
        </div>
</html>

{% endblock%}

<!-- <div class="container">
    <div class="card cardquote">
        <div class="card-title">
            <h4>A quote by: <span style="color: rgb(3, 3, 3)">{{quote.author}}</span> </h4>
        </div>
        <p class="card-text">{{quote.quote}}</p>
    </div>
</div> -->